@import "tailwindcss";

:root {
  --color-identity: #00FF41;
  --color-shock: #FFD700;
  --color-support: #1A1A1A;
  --color-base: #000000;
  --color-text: #FFFFFF;

  --font-title: 'Anton', sans-serif;
  --font-mono: 'JetBrains Mono', monospace;
  --font-body: 'Inter', sans-serif;

  --border-heavy: 4px solid var(--color-text);
  --border-medium: 2px solid var(--color-support);

  --shadow-hard: 6px 6px 0px var(--color-identity);
  --shadow-hard-hover: 10px 10px 0px var(--color-identity);
  --shadow-hard-active: 2px 2px 0px var(--color-identity);
}

body {
  background-color: var(--color-base);
  color: var(--color-text);
}